*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    color: $color-primary;
    background-color: $color-background;
    font-family:$font-standard;
    font-size: $size-standard-font;
    line-height: $size-standard-line-height;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
embed,
object,
video {
    max-width: 100%;
}

a {
    color: $color-link;
    transition: color $transition-time;
    &:hover {
        color: $color-link-hover;
    }
}

h1, h3, h5 {
    font-weight: 900;

    a {
        color: $color-secondary;
        text-decoration: none;

        &:hover {
            color: $color-secondary;
        }
    }
}