header {
    background-color: $color-header-background!important;
    position: fixed;
    top: 0;

    @media screen and (max-width: $media-breakpoint-sm-max) {
        height: 55px;
        padding: 15px;
        width: 100%;
    }

    @media screen and (min-width: $media-breakpoint-md-min) {
        height: 100%;
        padding: 1%;
        width: $size-about-pane;
        max-width: 285px;
    }

    a, a:active, a:hover, a:visited {
        text-decoration: none;
    }

    .site-avatar {
        padding: 0 25%;
        margin-bottom: 30px;
        @media screen and (max-width: $media-breakpoint-sm-max) {
            display: none;
        }
    }

    .site-title {
        font-family: $font-site-title;
        font-size: $size-standard-font*1.4;
        color: $color-white;
        text-shadow: 0.15rem 0.15rem #000;
    }
}