header {
    background-color: $color-header-background!important;
    display: flex;
    height: 100vh;
    padding-bottom: 15vh;
    min-width: $size-about-pane;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $media-breakpoint-sm-max) {
      height: auto;
      padding: 10vh 0;
    }
    @media screen and (min-width: $media-breakpoint-md-min) {
      position: fixed;
      max-width: 285px;
    }

    a, a:active, a:hover, a:visited {
        text-decoration: none;
    }

    .site-avatar {
        margin-bottom: 20px;
        @media screen and (max-width: $media-breakpoint-sm-max) {
            display: none;
        }
    }

    .site-title {
        font-family: $font-site-title;
        font-size: $size-standard-font*1.4;
        color: $color-white;
        text-shadow: 0.15rem 0.15rem #000;
    }
}