main.page-content {
    padding: 15px;

    @media screen and (min-width: $media-breakpoint-md-min) {
      max-width: calc(100% - #{$size-about-pane});
      margin-left: $size-about-pane;
      width: 100%;
      padding: 30px;
    }

    .wrapper {
        display: block;
        background-color: $color-white;
        padding: 10px;
    }
}