.notice {
    &.info {
        border: 1px solid $color-lightblue;
        border-radius: 5px;
        background-color: lighten($color-lightblue, 30%);
        color: darken($color-lightblue, 30%);
        padding: 10px;
    }
    &.warning {
        border: 1px solid $color-red;
        border-radius: 5px;
        background-color: lighten($color-red, 30%);
        color: darken($color-red, 30%);
        padding: 10px;
    }
}