<header class="header">
    {% if site.contact.avatar-image %}
    <a href="{{ "/" | relative_url }}" title="{{ site.title | escape }}" aria-label="{{ site.title | escape }}"><img src="{{ site.contact.avatar-image }}" alt="{{ site.title | escape }}" class="site-avatar"></a>
    {% endif %}
    <a href="{{ "/" | relative_url }}" class="site-title" rel="author" title="{{ site.title | escape }}" aria-label="{{ site.title | escape }}">{{ site.title | escape }}</a>
    {% if site.subtitle %}
    <div class="site-subtitle">
        {{ site.subtitle }}
    </div>
    {% endif %}
    {% if site.content.header-s %}
      {% include header-suffix.html %}
    {% endif %}
    {% if site.content.header-suffix %}
      {% include {{ site.content.header-suffix }} %}
    {% endif %}

    <div id="menu-toggle" class="menu-toggle"><i class="fas fa-bars" aria-hidden="true"></i><i class="fas fa-times" aria-hidden="true"></i></div>

    <div class="main-navigation" aria-label="Main Navigation">
      {% assign page_paths = site.pages | where: 'include_nav', true | map: "path" %}   
      {% if page_paths %}
        <nav class="site-nav">
          <ul>
              {% for path in page_paths %}
              {% assign my_page = site.pages | where: "path", path | first %}
              {% if my_page.title or my_page.nav_title %}
              {% assign title = my_page.nav_title | default: my_page.title %}
              <li><a class="nav-link" href="{{ my_page.url | relative_url }}" title="{{ title | escape }}" aria-label="{{ title | escape }}">{{ title | escape }}</a></li>
              {% endif %}
            {% endfor %}
            {% if site.contact.url %}
            <li><a class="page-link" href="{{ site.contact.url }}" title="Contact" aria-label="Contact">Contact</a></li>
            {% endif %}
          </ul>
        </nav>
      {% endif %}

      <div class="social-links">
          {% include social-links.html %}
      </div>
    </div>
</header>