<header class="header">
    {% if site.contact.avatar-image %}
    <a href="{{ "/" | relative_url }}"><img src="{{ site.contact.avatar-image }}" alt="{{ site.title | escape }}" class="site-avatar"></a>
    {% endif %}
    <a href="{{ "/" | relative_url }}" class="site-title" rel="author">{{ site.title | escape }}</a>
    {% if site.subtitle %}
    <div class="site-subtitle">
        {{ site.subtitle }}
    </div>
    {% endif %}
    {% if site.content.header-suffix %}
      {% include {{ site.content.header-suffix }} %}
    {% endif %}

    <nav>
        Menu goes here.
    </nav>

    <div class="social-links">
        {% include social-links.html %}
    </div>
</header>