$color-primary: #222;
$color-secondary: red;
$color-lightgrey: #8899a6;
$color-purple: #98b8fe;
$color-white: #fff;
$color-background: #f4f4f4;

$color-link: #000;
$color-link-hover: #0a59b0;

$color-header-background: #021523;