$baseurl: '{{ site.baseurl }}' !default;
$transition-time: 0.3s !default;

// Fonts
$font-standard: Merriweather, serif !default;
$font-sans: Raleway, sans-serif !default;
$font-site-title: Lato, sans-serif !default;
$font-icons: "FontAwesome" !default;

// Colors
$color-primary: #222 !default;
$color-secondary: #021523 !default; 
$color-darkgrey: #555 !default;
$color-grey: #2e3e4e !default;
$color-lightgrey: #e9ecef !default;
$color-lightblue: #81a2be !default;
$color-blue: #0a59b0 !default;
$color-teal: #5CCDDE !default;
$color-navy: #021523 !default;
$color-yellow: #ffc107 !default;
$color-red: #D9534F !default;
$color-orange: #FF6154 !default;
$color-purple: #98b8fe !default;
$color-white: #fff !default;

$color-link: $color-teal !default;
$color-link-hover: $color-lightblue !default;

$color-background: #f4f4f4 !default;
$color-header-background: $color-navy !default;
$color-header-background-active: rgba(104,123,137,.5) !default;
$color-social-icons-background: $color-navy !default;
$color-social-icons-color: $color-lightgrey !default;
$color-social-icons-hover: $color-purple !default;
$color-post-title: $color-blue !default;
$color-post-meta: $color-darkgrey !default;

// Sizes
$size-standard-font: 16px !default;
$size-standard-line-height: 1.5em !default;

$size-about-pane: 300px !default;
$size-about-pane-mobile: 55px !default;

// Media Breakpoints
$media-breakpoint-sm-min: 576px !default;
$media-breakpoint-md-min: 768px !default;
$media-breakpoint-lg-min: 992px !default;
$media-breakpoint-xl-min: 1200px !default;

$media-breakpoint-xs-max: 575.99px !default;
$media-breakpoint-sm-max: 767.99px !default;
$media-breakpoint-md-max: 991.99px !default;
$media-breakpoint-lg-max: 1199.99px !default;